/* ==UserStyle==
@name         FFForever. Темная тема
@namespace    gil9red
@version      2025-08-09
@author       gil9red
@homepageURL  https://github.com/gil9red/user-styles
@updateURL    https://github.com/gil9red/user-styles/raw/main/FFForever.%20Темная%20тема.user.css
==/UserStyle== */

@-moz-document domain("ffforever.info") {
  table * {
      background: black;
      color: darkgray;
  }
  .td-h {
      background-color: #005984;
  }
  .td-m, .td-m p {
      background: #332f2f;
      color: darkgray;
  }
}
