/* ==UserStyle==
@name         RpgMakerUnion. Download DLC. Выделение цветом доступные DLC
@namespace    gil9red
@version      2025-11-25
@author       gil9red
@homepageURL  https://github.com/gil9red/user-styles
@updateURL    https://github.com/gil9red/user-styles/raw/main/RpgMakerUnion.%20Download%20DLC.%20Выделение%20цветом%20доступные%20DLC.user.css
==/UserStyle== */

@-moz-document url-prefix("https://rpgmakerunion.ru/downloads/dlc") {
    .file-packages__item:has(.file-packages__item-col--dl > a) {
        background-color: #e5f1c2 !important;
    }
}
