/* ==UserStyle==
@name         Steam. Спрятать кооперативы и VR
@namespace    gil9red
@version      2025-01-16
@author       gil9red
@homepageURL  https://github.com/gil9red/user-styles
@updateURL    https://github.com/gil9red/user-styles/raw/main/Steam.%20Спрятать%20кооперативы%20и%20VR.user.css
==/UserStyle== */

@-moz-document url-prefix("https://store.steampowered.com/tags/ru/") {
    div.LibraryAssetExpandedDisplay:has(
        :is(
            /* Кооператив */
            [href *= "tags/ru/%D0%9A%D0%BE%D0%BE%D0%BF%D0%B5%D1%80%D0%B0%D1%82%D0%B8%D0%B2"],
            /* Игрок против игрока */
            [href *= "tags/ru/%D0%98%D0%B3%D1%80%D0%BE%D0%BA%20%D0%BF%D1%80%D0%BE%D1%82%D0%B8%D0%B2%20%D0%B8%D0%B3%D1%80%D0%BE%D0%BA%D0%B0"],
            /* Сетевой кооператив */
            [href *= "tags/ru/%D0%A1%D0%B5%D1%82%D0%B5%D0%B2%D0%BE%D0%B9%20%D0%BA%D0%BE%D0%BE%D0%BF%D0%B5%D1%80%D0%B0%D1%82%D0%B8%D0%B2"],
            /* VR */
            [href *= "tags/ru/VR"],
        )
    )
    {
        opacity: 0.3;
    }
}
