/* ==UserStyle==
@name         VkPlay. Спрятать кнопки у комментариев
@namespace    gil9red
@version      2025-12-29
@author       gil9red
@homepageURL  https://github.com/gil9red/user-styles
@updateURL    https://github.com/gil9red/user-styles/raw/main/VkPlay.%20Спрятать%20кнопки%20у%20комментариев.user.css
==/UserStyle== */

@-moz-document url-prefix("https://vkplay.ru/media/") {
    .comments__reply,
    .comments__form,
    .comments__reaction-button
    {
        display: none !important;
    }
}
