/* ==UserStyle==
@name         VkVideo. Улучшение UI видео.user.css
@version      2026-04-20
@namespace    gil9red
@author       gil9red
@homepageURL  https://github.com/gil9red/user-styles/blob/main/VkVideo.%20Улучшение%20UI%20видео.user.css
@updateURL    https://github.com/gil9red/user-styles/raw/main/VkVideo.%20Улучшение%20UI%20видео.user.css
@preprocessor stylus
==/UserStyle== */

@-moz-document url-prefix("https://vkvideo.ru/video-")
    #video_recommendations
        display: none
    
    [data-testid="video_page_playlist_videos"]
        height: 800px !important
    
    [data-testid="video_card_layout"][class *= vkitVideoCardLayout__cardHorizontalMiniHover]
        background-color: #0f6f284d
