/* ==UserStyle==
@name         Youtube. Hide videos from channel searches
@namespace    gil9red
@version      2026-03-09
@author       gil9red
@homepageURL  https://github.com/gil9red/user-styles
@updateURL    https://github.com/gil9red/user-styles/raw/main/Youtube.%20Hide%20videos%20from%20channel%20searches.user.css
==/UserStyle== */

@-moz-document regexp("https://www.youtube.com/.+/search") {
    ytd-video-renderer {
        display: none;
    }
    div:has( > ytd-video-renderer)::before {
        content: "// The video is hidden by Stylus";
        font-size: larger;
        color: var(--yt-spec-text-primary);
    }
}
